Flask
tensorflow
keras
pandas
numpy
regex
scikit-learn
Pillow
nltk
tokenizers
joblib
black
click
urllib3==1.21.1
certifi
chardet
configparser
itsdangerous
Jinja2
MarkupSafe
requests
gunicorn
idna
requests
Werkzeug
keras-self-attention
pickle5
keras_preprocessing